<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.csupomona.cs.cs356.classmate"
	android:versionCode="1"
	android:versionName="1.0"
>

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="16"
	/>

	<application
	    
		android:debuggable="true"
		android:allowBackup="true"
		android:icon="@drawable/classmate_icon"
		android:label="@string/ClassmateAppName"
		android:theme="@style/ClassmateTheme"
	>
		<activity
			android:name="edu.csupomona.cs.cs356.classmate.LoginScreen"
			android:label="@string/ClassmateAppName"
			android:windowSoftInputMode="stateHidden"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name="edu.csupomona.cs.cs356.classmate.RecoveryForm"
			android:label="@string/recover"
		>
		</activity>

		<activity
			android:name="edu.csupomona.cs.cs356.classmate.RegistrationForm"
			android:label="@string/register"
		>
		</activity>

		<activity
			android:name="edu.csupomona.cs.cs356.classmate.MainMenu"
			android:label="@string/ClassmateAppName"
		>
		</activity>
	</application>
	
	 <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>