<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.csupomona.cs.cs356.classmate"
	android:versionCode="1"
	android:versionName="1.0.0"
>
	<!-- SDK Specifications -->
	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="18"
	/>

	<!--  Internet Permissions -->
	<uses-permission
		android:name="android.permission.INTERNET"
	/>

	<!-- SDK Specifications -->
	<application
		android:debuggable="true"
		android:allowBackup="true"
		android:icon="@drawable/classmate_icon_cpp"
		android:label="@string/ClassmateAppName"
		android:theme="@style/ClassmateTheme"
	>
		<activity
			android:name="edu.csupomona.cs.cs356.classmate.LoginActivity"
			android:label="@string/ClassmateAppName"
			android:windowSoftInputMode="stateHidden"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>